*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #232c38;    
}
h1{
    padding-bottom: 5px;
    font-family: Arial;
    margin: 0 auto;
    color: #acb6be; 
    font-size: 28px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    color: #acb6be;
    font-size: 18px;
}
.header_container{
    max-width:100%;  
    margin: 0 auto;
    border-radius: 5px;
    background-color: #232c38;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    
}

.header_wrapper{
    margin-top: 20px; 
    max-width: 688px;
    width: 100%;    
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #14191f; 
    border-radius: 10px 10px 0px 0px;   
}
.slider_container{
    position: relative;
    max-width:100%;  
    margin: 0 auto;
    border-radius: 5px;
    background-color: #232c38;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_wrapper{    
    max-width: 688px;
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #14191f; 
    border-radius: 0;   
}
.slider_wrapper > input {
	display: none;
}

.slides{
    position: relative;
    left: 0;
    width: 400%;
    height: auto;
    display: flex;
    transition: all .5s ease;
}
.slider_img{    
    width: 100%;     
    overflow: hidden; 
    border-radius: 10px;    
    border: 4px #acb6be solid;
}

.slide{    
    width: 100%; 
    margin-bottom: -5px; 
    height: auto;
}

.slide>img{
    width: 100%;
    height: auto;
    object-fit: cover;  
}

.slider_bottom{
    margin-top: 20px;
    width: 100%;
    height: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;      
}
.controls{   
    width: 110px;
    height: 10%;
    display: flex;
    justify-content: space-between;    
}
.bullet{
    width: 15px;
    height: 15px;   
    border: 2px #acb6be solid;
    object-fit: cover;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;   
}


.bullet:hover{
    background-color: #232c38;
}
.bullet:active{
    background-color: #acb6be solid;
    
    transform: scale(1.2);
    
}


.slider_text{
    width: calc(100% - 120px);
    height: 20px;
    overflow: hidden;     
}
.text_colection {
    position: relative;
    left: 0;
    width: 400%;
    height: 100%;
    display: flex; 
    align-items: center; 
    transition: all .6s ease;   
}
.text{    
    width: 100%;      
}

#rad1:checked ~ .slider_img .slides{
    left: 0;
}
#rad2:checked ~ .slider_img .slides{
    left: -100%;
}
#rad3:checked ~ .slider_img .slides{
    left: -200%;
}
#rad4:checked ~ .slider_img .slides{
    left: -300%;
}

#rad1:checked ~ .slider_bottom .controls label:nth-child(1){
    background-color:#acb6be;
}
#rad2:checked ~ .slider_bottom .controls label:nth-child(2){
    background-color:#acb6be;
}
#rad3:checked ~ .slider_bottom .controls label:nth-child(3){
    background-color:#acb6be;
}
#rad4:checked ~ .slider_bottom .controls label:nth-child(4){
    background-color:#acb6be;
}

#rad1:checked ~ .slider_bottom .slider_text .text_colection{
    left: 0;
}
#rad2:checked ~ .slider_bottom .slider_text .text_colection{
    left: -100%;
}
#rad3:checked ~ .slider_bottom .slider_text .text_colection{
    left: -200%;
}
#rad4:checked ~ .slider_bottom .slider_text .text_colection{
    left: -300%;
}

.footer_container {
    max-width:100%;  
    margin: 0 auto;
    border-radius: 5px;
    background-color: #232c38;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.line_footer {
    margin-top: -2;
    max-width: 768px;    
    width: 100%;
    height: 3px;
    z-index: 2;
    background: linear-gradient(90deg, #14191F, #232c38, #acb6be56, #232c38, #14191F);
}

.footer_wrapper {
    max-width: 688px;
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #14191f; 
    border-radius: 0px 0px 10px 10px;     
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;      
    width: 80px;
}


.icon {
    margin-top: 0px;
    margin-left: 0px;   
    height: 25px;
}

@media (max-width:768px){
    body {
        background-color: #14191f;
        justify-content: start;
    }
    h1 {
        padding-top: 10px;
    }
    .header_wrapper{
        margin-top: 0px; 
        max-width: calc(100vw - 80px);
        width: 100%;    
        border-radius: 0;   
    }
    .slider_wrapper{    
        max-width: calc(100vw - 80px);        
    }
    .line_footer {
        max-width: 100vw; 
    }
    .footer_wrapper {
        max-width: calc(100vw - 80px);      
    }  
}
@media (max-width:580px){
    body {
        background-color: #14191f;
        justify-content: start;
    }
    h1 {
        padding-top: 10px;
        font-size: 22px;
    }
    p {
        padding-top: 10px;
        font-size: 14px;
       
    }
    .header_wrapper{
        margin-top: 0px; 
        max-width: calc(100vw - 40px);
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;    
        border-radius: 0;   
    }
    .slider_wrapper{    
        max-width: calc(100vw - 40px);   
        padding-left: 20px;
        padding-right: 20px;     
    }
    .slider_bottom{
       flex-direction: column;       
    }
    .slider_text{
        margin-top: 20px;
        width: 100%;
        height: 40px;
        order: 2;    
    }
    .text{    
        text-align: center;   
    }

    .line_footer {
        max-width: 100vw; 
    }
    .footer_wrapper {
        max-width: calc(100vw - 40px); 
        padding-left: 20px;
        padding-right: 20px;     
    }
    
   
}

@media (max-width:340px){
  p {
    letter-spacing: 1px;
  }
}